.model {
  flex: 0 1 500px;
}

.product {
  width: inherit;
  height: inherit;
}

@media (max-width: 700px) {
  .product {
    min-height: 600px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}