.cart {
  display: flex;
  height: 32px;
  padding: 9px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 1px;
  background: var(--Primary-Color, #E80C00);
}

.label {
  color: var(--Light, #FFF);
  font-family: Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
  text-transform: uppercase;
}