.priceSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.finalPrice {
  color: var(--Primary-Color, #E80C00);
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  text-transform: uppercase;
}

.originalPrice {
  color: var(--Dark-gray, #666);
  font-family: Oswald;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  text-decoration-line: strikethrough;
}

.discount {
  display: flex;
  height: 20px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  border: 1px solid var(--Dark, #1F1F24);
  background: #FFF;
  color: var(--Dark, #1F1F24);

  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 19.2px */
  text-transform: uppercase;
}